name: Nx Affected CI

on:
  pull_request:
    types:
      - assigned
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: git fetch origin main

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v7
        with:
          poetry-version: 1.2.0b3

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${% raw %}{{ hashFiles('**/poetry.lock') }}{% endraw %}

      - name: Poetry Install Dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install

      - uses: nrwl/nx-set-shas@v2
      - run: npm ci
      - run: |
          source ./.venv/bin/activate
          npx nx affected --target=lint --parallel=3

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        # Or use mhausenblas/mkdocs-deploy-gh-pages@nomaterial to build without the mkdocs-material theme
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_DOMAIN: dataplatform.com
          CONFIG_FILE: ./mkdocs.yml
          EXTRA_PACKAGES: build-base
